<%- partial('layout_header'); %>
    <title><%= geddy.config.appTitle %></title>
  </head>
  
  <body>
    <div>
      <%- displayFlash(flash); %>
      <%- render(); %>
    </div>
  </body>
<%- partial('layout_footer'); %>

